################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LPortfolio_424.slnx/FileContentIndex/9d4a355d-89a2-4534-acb2-9dee770b937a.vsidx
/.vs/LPortfolio_424.slnx/FileContentIndex/cd57f163-317c-49a0-81c8-ae5d351d67ed.vsidx
/.vs/LPortfolio_424.slnx/FileContentIndex/cfd46a09-731f-42aa-95b1-752dd22e82ed.vsidx
/.vs/LPortfolio_424.slnx/FileContentIndex/c42ada1b-b9ec-4278-b98e-cdd9f88657c0.vsidx
/.vs/LPortfolio_424.slnx/FileContentIndex/e684f5ab-7d53-4494-8fa3-bfce2e1ef89b.vsidx
/.vs/LPortfolio_424.slnx/FileContentIndex/ff370ce5-bd54-4753-bd35-408954e87d71.vsidx
